html {
  scroll-behavior: smooth;
  background-attachment: fixed;
}
body {
  margin: 0;
}
ul {
  padding: 0;
}
.menu-list {
  left: 0;
  right: 0;
  margin: 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 8;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.hero-h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}
.menu-items {
  display: flex;
}
.menu-item {
  list-style: none;
  margin-right: 24px;
  font-family: "DM Serif Display", serif;
  letter-spacing: 0.1em;
  font-size: 28px;
  font-weight: bold;
  &:last-child {
    margin-right: 0;
  }
}
.hero-img {
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;
  top: 0;
  pointer-events: none;
}
.hero-img > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  opacity: 0;
  -webkit-animation: fade 12s infinite;
  animation: fade 12s infinite;
}
@-webkit-keyframes fade {
  0%,
  100% {
    opacity: 0;
    z-index: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
    z-index: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: scale(1);
  }
}
/* 1枚目のスライド */
.hero-img > div:first-of-type {
  background-image: url("/images/hero-1.jpeg");
}

/* 2枚目のスライド */
.hero-img > div:nth-of-type(2) {
  background-image: url("/images/hero-2.jpeg");
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/* 3枚目のスライド */
.hero-img > div:last-of-type {
  background-image: url("/images/hero-3.jpeg");
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.about-content {
  max-width: 1080px;
  margin: 72px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff2e5;
  .about-img {
    width: 360px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .about-text {
    max-width: 630px;
    width: 100%;
    margin: 0 auto;
  }
  .about-h2 {
    font-size: 26px;
    font-family: "DM Serif Display", serif;
  }
  .about-description {
    letter-spacing: 0.2em;
  }
}

.pickup {
  background-image: url("../public/images/pickup-bg.png");
  background-position: center top;
  background-size: cover;
  box-sizing: border-box;
}
.pickup-content {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 240px 0 200px;
  .pickup-h2 {
    text-align: center;
    font-family: "DM Serif Display", serif;
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 48px;
  }
  .collections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 24px;
    .collection-item {
      display: flex;
      border-radius: 16px;
      overflow: hidden;
      width: 330px;
      cursor: pointer;

      &:hover {
        outline: 4px solid #bc8f8f;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.access {
  margin: 72px auto 24px;
  .access-h2 {
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-align: center;
  }
  .access-content {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    iframe {
      width: 400px;
    }
    .access-map {
      width: 300px;
    }
    .shop-img {
      width: 580px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.footer {
  background-color: #bc8f8f;
  text-align: center;
  color: #fff;
  padding: 8px 0;
  .footer-text {
    margin: 0;
    font-size: 14px;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1080px;
    .modal-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .modal-img {
        width: 460px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .modal-text {
        max-width: 560px;
        .modal-h3 {
          font-size: 20px;
          text-align: center;
          font-family: "DM Serif Display", serif;
        }
        .modal-description {
          margin-top: 16px;
          font-size: 14px;
          letter-spacing: 0.2em;
        }
      }
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
